<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>c:\apache-tomcat-5.5.29\webapps\data\</param-value>
  </context-param>
  <display-name>STAR</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadBOM</servlet-name>
    <servlet-class>controllers.UploadBOM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBOM</servlet-name>
    <url-pattern>/UploadBOM</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadMRQ</servlet-name>
    <servlet-class>controllers.UploadMRQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMRQ</servlet-name>
    <url-pattern>/UploadMRQ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadRRS</servlet-name>
    <servlet-class>controllers.UploadRRS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadRRS</servlet-name>
    <url-pattern>/UploadRRS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFGCost</servlet-name>
    <servlet-class>controllers.UploadFGCost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFGCost</servlet-name>
    <url-pattern>/UploadFGCost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadRMCost</servlet-name>
    <servlet-class>controllers.UploadRMCost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadRMCost</servlet-name>
    <url-pattern>/UploadRMCost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadDemand</servlet-name>
    <servlet-class>controllers.UploadDemand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDemand</servlet-name>
    <url-pattern>/UploadDemand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadStock</servlet-name>
    <servlet-class>controllers.UploadStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadStock</servlet-name>
    <url-pattern>/UploadStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadPriority</servlet-name>
    <servlet-class>controllers.UploadPriority</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPriority</servlet-name>
    <url-pattern>/UploadPriority</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Save</servlet-name>
    <servlet-class>controllers.Save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Save</servlet-name>
    <url-pattern>/Save</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenrateReport</servlet-name>
    <servlet-class>tree.GenrateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenrateReport</servlet-name>
    <url-pattern>/GenrateReport</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DownloadRM</servlet-name>
    <servlet-class>controllers.DownloadRM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadRM</servlet-name>
    <url-pattern>/DownloadRM</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DownloadSFG</servlet-name>
    <servlet-class>controllers.DownloadSFG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadSFG</servlet-name>
    <url-pattern>/DownloadSFG</url-pattern>
  </servlet-mapping>
</web-app>