body {
	background: url(../images/back.jpg) no-repeat center center fixed;
	background-size: cover;
}

::-webkit-input-placeholder {
	font-style: normal;
	color: #808080;
}

.login-card input[placeholder], [placeholder], *[placeholder] {
	font-style: inherit;
	color: gray !important;
}

.login-card {
	position: absolute;
	left: 30%;
	top: 20%;
	float: left;
	padding: 40px;
	width: 500px;
	background: #ffffff;
	margin: 0 auto 10px;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.login-card h1 {
	font-weight: 100;
	text-align: center;
	font-size: 2.3em;
	color: #0d3e6d;
	background: #c0c0c0;
}

.login-card input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.login-card input[type=text], input[type=password] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #d9d9d9;
}

.login-card input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login {
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	background: #ffffff;
}

.login-submit {
	padding: 5px 15px;
	background: #c0c0c0;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	text-shadow: 0 3px rgba(0, 0, 0, 0.1);
	background-color: #0088cc;
}

.login-submit:hover {
	padding: 5px 15px;
	background: #c0c0c0;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #0088cc;
}

.login-card a {
	text-decoration: none;
	color: white;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
	background: #c0c0c0;
}

.login-card a:hover {
	opacity: 1;
}

.login-help {
	width: 100%;
	text-align: center;
	font-size: 12px;
	background: #c0c0c0;
}

form {
	background: #ffffff;
}

h1 {
	text-decoration: none;
}

img {
	height: 10%;
}